{% extends 'document.html.twig' %}

{% block title %}Sortir - Gestion des lieux{% endblock %}

{% block body %}


    <div class="container page-villes_search">

        <h1> Gérer les lieux</h1>
        <h2> Filtrer les lieux</h2>

        <div class="filters padded-body-block">
            {{ form_start(lieuSearchForm) }}
            {{ form_widget(lieuSearchForm) }}
            {{ form_end(lieuSearchForm) }}
        </div>

        <div class="item-list list-lieux">
            <div class="item-list-titlebar">
                <span>Lieu</span>
                <span>Rue</span>
                <span>Latitude</span>
                <span>Longitude</span>
                <span>Ville</span>
                <span>Actions</span>
            </div>

            {%  for l in lieux %}
                <div class="list-item">
                    <span>{{ l.nomLieu }}</span>
                    <span>{{ l.rue }}</span>
                    <span>{{ l.latitude }}</span>
                    <span>{{ l.longitude }}</span>
                    <span>{{ l.ville.nomVille }}</span>
                    <span>
                        <a href="{{ path('editLieu',{ 'id': l.id }) }}">Modifier</a>
                    </span>
                </div>
            {% else %}
            {% endfor %}

        </div>

        <a class="btn ptn-primary" href="{{ path('addLieu')}}">Ajouter</a>
    </div>

{% endblock %}
