{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Sortir.com !{% endblock %}

{% block body %}

    <style>
        #logo{
            position: fixed;
            top: 50px;
            left: 50px;
        }

        #background {
            background-image: url("assets/images/activites/soiree.jpg");
            background-size: 100% 100%;
            position: fixed;
            height: 100%;
            width: 100%;
            top: 0;
        }

        #formulaire form {
            background-color: #fff;
            width: 50%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            border-radius: 25px;
            padding: 25px;
            box-shadow: 0px 5px 15px 10px rgba(0,0,0,0.5);
            margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
            transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
        }

        button[type="submit"] {
            height: 80px;
            width: 150px;
            background-color: deeppink;
            color: white;
        }

        button[type="submit"]:hover {
            background-color: #f31593;
            color: white;
            font-weight: bold;
        }

        .interactions {
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
        }

        .souvenir{
            display: flex;
            flex-direction: column;
            float: left;
        }

        input[type="text"], input[type="password"]{
            background-color: rgba(0,0,0,0);
        }

        .flash{
            padding: 20px;
            display: block;
            font-weight: bold;
            color: #fff;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        .flash-success{
            background-color: forestgreen;
            box-shadow: 5px 5px 5px 5px rgba(0,255,0,0.5);
        }

        .flash-error{
            background-color: red;
            box-shadow: 5px 5px 5px 5px rgba(255,0,0,0.5);
        }
    </style>

    <div id="pageConnexion">

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Mot de passe oublié</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Souhaitez-vous demander auprès de l'ENI une réinitialisation de mot de passe ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Non</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Oui</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="background"></div>
        <a href="#" id="logo"><img src="assets/images/logo.png" alt="logo" width="150" height="50"></a>

        <div id="formulaire">
            {{ form_start(connexionForm) }}

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="group">
                {{ form_label(connexionForm.identifiant) }}
                {{ form_widget(connexionForm.identifiant) }}
                {{ form_errors(connexionForm.identifiant) }}
            </div>

            <div class="group">
                {{ form_label(connexionForm.motDePasse) }}
                {{ form_widget(connexionForm.motDePasse) }}
                {{ form_errors(connexionForm.motDePasse) }}
            </div>

            <div class="interactions">
                <div class="souvenir">
                    <div class="group">
                        {{ form_widget(connexionForm.souvenir) }}
                        {{ form_label(connexionForm.souvenir) }}
                    </div>
                    <!-- Button trigger modal -->
                    <a href="#" data-toggle="modal" data-target="#exampleModal">
                        Mot de passe oublié
                    </a>
                </div>

                <div>
                    <button type="submit" class="btn">Connexion</button>
                </div>
            </div>
            {{ form_end(connexionForm) }}
        </div>
    </div>
{% endblock %}
