{% extends 'document.html.twig' %}

{% block title %}Sortir - Recherche{% endblock %}

{% block body %}

    <div class="container page-recherche-sorties">
        <div class="filters filtres-recherche">

        {{ form_start(createArticleForm) }}
        {{ form_widget(createArticleForm) }}
            {#
            <input type="submit" value="Rechercher">
            #}
        {{ form_end(createArticleForm) }}

        </div>
        <div class="item-list list-recherche-sortie">
            {% if results %}
                <div class="item-list-titlebar">
                    <span>Nom Sortie</span>
                    <span>Date Sortie</span>
                    <span>Clôture inscription</span>
                    <span>Placements</span>
                    <span>Etat</span>
                    <span>Inscrit</span>
                    <span>Organisateur</span>
                    <span>Actions</span>
                </div>
                {%  for r in results %}
                    {{ r.user_inscrit }}
                    <div class="list-item">
                        <span>{{ r.sortie.nom }}</span>
                        <span>{{ r.sortie.datedebut | date('d/m/Y')}}</span>
                        <span>{{ r.sortie.datecloture | date('d/m/Y') }}</span>
                        <span>{{ r.participants_count }}/{{ r.sortie.nbinscriptionsmax }}</span>
                        <span>{{ r.sortie.etat.libelle }}</span>
                        <span>{% if r.user_inscrit %}<i class="fas fa-check"></i>{% endif %}</span>
                        <span>{{ r.sortie.organisateur.pseudo }}</span>
                        <span>
                            {% if r.sortie.etat.id == 4 and r.sortie.organisateur.id == user.id  %}
                                <a href=""><i class="fas fa-edit"></i></a>
                                | <a href="{{ path('cancelSortie',{ 'id': r.sortie.id }) }}"><i class="fas fa-eraser"></i></a>
                            {% elseif r.sortie.etat.id != 4 and r.sortie.organisateur.id == user.id  %}
                                <a href="{{ path('sortie_get_by_id_1',{ 'id': r.sortie.id }) }}"><i class="fas fa-file-alt"></i></a>
                            {% else %}
                                <a href="{{ path('sortie_get_by_id_1',{ 'id': r.sortie.id }) }}"><i class="fas fa-file-alt"></i></a>
                            {% endif %}

                            {% if user.administrateur and r.sortie.etat.id != 6 %}
                                | <a href="{{ path('cancelSortie',{ 'id': r.sortie.id }) }}"><i class="fas fa-eraser"></i></a>
                            {% endif %}
                            {% if r.sortie.etat.id == 1 and r.user_inscrit == 0  %}
                                | <a href="{{ path('joinSortie',{ 'id': r.sortie.id }) }}"><i class="fas fa-calendar-plus"></i></a>
                            {% elseif r.sortie.etat.id == 1 and r.user_inscrit == 1 %}
                                | <a href="{{ path('leaveSortie',{ 'id': r.sortie.id }) }}"><i class="fas fa-calendar-minus"></i></a>
                            {% endif %}
                        </span>
                    </div>
                {% else %}
                {% endfor %}
            {% endif%}
        </div>
        <div class="padded-body-block">
            <a href="{{ path('createSortie')}}" class="btn btn-primary">Créer une Sortie</a>
        </div>
    </div>
{% endblock %}
